*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 200px;
    margin-right: 200px;
    overflow: hidden;
    z-index: 33;
}
.subnav{
    overflow: hidden;
    z-index: 33;
}
.subnav .subnavbtn {
    background: none;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 200;
    color: rgb(75, 74, 74);
    transition: 8s;
}

.subnav-content {
    background: white;
    display: none;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 33;
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.subnav:hover .subnav-content {
    display: block;
}

.nav {
    margin-top: 50px;
    display: flex;
    margin-left: 200px;
    margin-bottom: 100px;
}
.nav .div1{
    margin-right: 80px;
}
.nav span{
    color: grey;
    font-size: 15px;
    line-height: 40px;   
    cursor: pointer;
}
.nav h2,p{
    line-height: 40px;
    cursor: pointer;
}
.pro{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.pro span{
    font-weight: 400px;
    color: grey;
    font-size: 15px;
}
.now{
    color: blue;
}

.image{
    width: 100%;
    height: 550px;
    background-image: url("iPhone.png");
    background-size: 100% 100%;
    z-index: 1;
}
.image .text{
    display: grid;
    justify-content: center;
    color: white;
}

.image .text h1{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 700;
}
.image .text h3{
    font-size: 28px;
    font-weight: 400;
}
.image .text span {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 60px;
    font-size: 22px;
}
.image1{
    width: 100%;
    height: 550px;
    background-image: url("app.png");
    background-size: 100% 100%;
    z-index: 1;
}
.image1 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.image1 .text h1{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 700;
}
.image1 .text h3{
    font-size: 28px;
    font-weight: 400;
}
.image1 .text span {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 60px;
    font-size: 22px;
}
.image1 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.image1 .text h1{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 700;
}
.image1 .text h3{
    font-size: 28px;
    font-weight: 400;
}
.image1 .text span {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 60px;
    font-size: 22px;
}
.image2{
    width: 100%;
    height: 550px;
    background-image: url("watch.jpg");
    background-size: 100% 100%;
    z-index: 1;
}

.image2 .text{
    display: grid;
    justify-content: center;
    color: white;
}

.image2 .text h1{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 700;
}

.image2 .series{
    margin-left: 90px;
    font-size: 22px;
    color: rgb(163, 5, 5);
}

.image2 .text h3{
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}
.image2 .text .par {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 40px;
    font-size: 22px;
}
.image2 .text{
    display: grid;
    justify-content: center;
    color: white;
}

.image2 .text h1{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 700;
}
.image2 .text h3{
    font-size: 28px;
    font-weight: 400;
}