*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    overflow: hidden;
    z-index: 3;
    position: fixed;
    background-color: white;
}
.subnav{
    overflow: hidden;
    z-index: 3;
}
.subnav .subnavbtn {
    background: none;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    font-size: 12px;
    font-weight: 200;
    color: rgb(75, 74, 74);
    transition: 8s;
    z-index: 3;
}

.subnav-content {
    background: white;
    display: none;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 3;
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.subnav:hover .subnav-content  {
    display: block;
}

.search button{
    background: none;
    border: none;
    outline: none;
    margin: 0;
    cursor: pointer;
    color: rgb(75, 74, 74);
    transition: 8s;
    z-index: 3;
}
.sub-search{
    background: white;
    display: none;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 3;
    animation: growDown 400ms ease-in-out forwards;
    transform-origin: top center;
}
.search-place{
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 30px;
}
.search-place input{
    width: 400px;
    height: 60px;
    background: none;
    border: none;
    outline: none;
    font-size: 25px;
}
.search-place i{
    color: grey;
    height: 50px;
    margin-right: 5px;
}
.link{
    margin-left: 200px;
    display: grid;
    margin-bottom: 100px;
}
.link h6{
    font-size: 15px;
    color: grey;
    margin-bottom: 15px;
}
.link span{
    height: 20px;
    font-size: 13px;
    color: gray;
    margin-bottom: 10px;
}
.link span:hover{
    font-size: 15px;
    color: white;
    background-color: gray;
}
/*.search:hover .sub-search{
    display: block;
}*/
.show{
    display: block;
}

.nav {
    margin-top: 50px;
    display: flex;
    margin-left: 200px;
    margin-bottom: 100px;
}
.nav .div1{
    margin-right: 80px;
}
.nav span{
    color: grey;
    font-size: 15px;
    line-height: 40px;   
    cursor: pointer;
}
.nav h2,p{
    line-height: 40px;
    cursor: pointer;
}
.pro{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    padding-top: 40px;
}
.pro span{
    font-weight: 400px;
    color: grey;
    font-size: 15px;
}
.now{
    color: blue;
}

.image{
    margin-top: 10px;
    width: 100%;
    height: 550px;
    background-image: url("iPhone.png");
    background-size: 100% 100%;
    z-index: 1;
}
.image .text{
    display: grid;
    justify-content: center;
    color: white;
}

.image .text h1{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 700;
}
.image .text h3{
    font-size: 28px;
    font-weight: 400;
}
.image .text span {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 60px;
    font-size: 22px;
}
.image1{
    width: 100%;
    height: 550px;
    background-image: url("app.png");
    background-size: 100% 100%;
    z-index: 1;
}
.image1 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.image1 .text h1{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 700;
}
.image1 .text h3{
    font-size: 28px;
    font-weight: 400;
}
.image1 .text span {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 60px;
    font-size: 22px;
}
.image1 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.image1 .text h1{
    font-size: 50px;
    margin-top: 30px;
    margin-left: 40px;
    font-weight: 700;
}
.image1 .text h3{
    font-size: 28px;
    font-weight: 400;
}
.image1 .text span {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 60px;
    font-size: 22px;
}
.image2{
    width: 100%;
    height: 550px;
    background-image: url("watch.jpg");
    background-size: 100% 100%;
    z-index: 1;
}

.image2 .text{
    display: grid;
    justify-content: center;
    color: white;
}

.image2 .text h1{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 50px;
    font-weight: 700;
}

.image2 .series{
    margin-left: 90px;
    font-size: 22px;
    color: rgb(163, 5, 5);
}

.image2 .text h3{
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}
.image2 .text .par {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 40px;
    font-size: 22px;
}

.container{
    display: flex;
}

.img{
    width: 100%;
    height: 550px;
    background-image: url("watch2.png");
    background-size: 100% 100%;
    z-index: 1;
}

.img .text{
    display: grid;
    justify-content: center;
    color: black;
}

.img .text h1{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 700;
}

.img .series{
    margin-left: 80px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(163, 95, 5);
}

.img .text h3{
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}
.text .par {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 20px;
    font-size: 17px;
}

.img1{
    width: 100%;
    height: 550px;
    background-image: url("watch3.png");
    background-size: 100% 100%;
    z-index: 1;
}

.img1 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.img1 .text h1{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 700;
}

.img1 .text h3{
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
}

.img2{
    width: 100%;
    height: 550px;
    background-image: url("watch4.png");
    background-size: 100% 100%;
    z-index: 1;
}

.img2 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.img2 .text h1{
    font-size: 30px;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 700;
}

.img2 .series{
    margin-left: 90px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(163, 5, 5);
}

.img2 .text h3{
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
}
.text2 .par {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    margin-left: 30px;
    font-size: 22px;
}
.img3{
    width: 100%;
    height: 550px;
    background-image: url("mac.png");
    background-size: 100% 100%;
    z-index: 1;
}

.img3 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.img3 .text h1{
    font-size: 35px;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 600;
}
.img3 .text h2{
    font-size: 35px;
    margin-left: 85px;
    font-weight: 600;
}

.img3 .series{
    margin-left: 70px;
    font-size: 16px;
    color: rgb(163, 5, 5);
}

.img3 .text h3{
    font-size: 28px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 60px;
}
.text3 .par {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    font-size: 22px;
    margin-left: 60px;
}

.img4{
    width: 100%;
    height: 550px;
    background-image: url("mac1.png");
    background-size: 100% 100%;
    z-index: 1;
}

.img4 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.img4 .text h1{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 10px;
    font-weight: 700;
}

.img4 .text h3{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
}
.text4 .text span {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    font-size: 22px;
    padding-left: 60px;
}

.img5{
    width: 100%;
    height: 550px;
    background-image: url("iPhone1.png");
    background-size: 100% 100%;
    z-index: 1;
}

.img5 .text{
    display: grid;
    justify-content: center;
    color: black;
}

.img5 .text h1{
    font-size: 40px;
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 700;
}

.img5 .text h3{
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
    margin-left: 20px;
}
.text5 .par {
    margin-top: 10px;
    color: rgb(24, 145, 226);
    font-size: 22px;
    margin-left: 60px;
}

footer{
    background: rgb(238, 235, 235);
}
.foot{
    display: grid;
    justify-content: center;
    margin-left: 200px;
    margin-right: 200px;
}
footer .foot span{
    color: grey;
    font-size: 13px;
    margin-top: 20px;
    font-family: Arial;
}
.border{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    border-bottom: 1px solid grey ;
}
.foot1{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.foot1 .shop h4{
    color: rgb(59, 59, 59);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}
.foot1 .shop span{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 101, 101);
    line-height: 30px;
}

.foot2{
    margin-top: 30px;
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 101, 101);
}
.border1{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 10px;
    border-bottom: 1px solid grey ;
}
.foot3{
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(102, 101, 101);
    padding-bottom: 30px;
}

.foot3 span{
    margin-right: 20px;
}
.foot2  a{
    color: rgb(5, 155, 155);
}